@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table>
    @foreach (var service in Model.HomeModel.Services)
    {
        <tr>
            <td>@service.Name</td>
        </tr>
    }
</table>

<form method="post" >
    <div class="row">
        <div class="col-md-4">
            <label asp-for="ServiceDto.Name"></label>
            <input asp-for="ServiceDto.Name" class="form-control"/>
            <span class="alert-danger" asp-validation-for="ServiceDto.Name"></span>
        </div>
    </div>
    <input type="submit" value="Kaydet"  class="btn btn-primary"/>
</form>